certifi==2019.9.11
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.13
future==0.17.1
gunicorn==19.9.0
idna==2.8
line-bot-sdk==1.8.0
psycopg2==2.8.4
pytz==2019.3
requests==2.22.0
sqlparse==0.3.0
static3==0.7.0
urllib3==1.24.2
twder==0.1.4
Flask==1.1.1
html5lib==1.0.1
json5==0.8.5
lxml==4.4.1
translate==3.5.0
six==1.14.0
astroid==2.3.1
et-xmlfile==1.0.1
defusedxml==0.6.0
django-heroku==0.3.1
django-variable-settings==0.0.1
appnope==0.1.0
decorator==4.4.0
ipython==7.8.0
ipython-genutils==0.2.0
path.py==12.0.1
pexpect==4.8.0
pickleshare==0.7.5
ptyprocess==0.6.0
simplegeneric==0.8.1
traitlets==4.3.3
whitenoise==5.0.1
asgiref==3.2.3
peewee==3.13.2